{
 :start-location :plains
 
 :location-list
 {
  :town-square-west {:name "Town Square West"
                     :description 
"You are at the west end of a bustling town square.
Merchants, laborers, and various citizens of the
local township are gathered here to trade and to catch
up on the latest gossip. To the north, you see the
local blacksmith's shop, and to the south is the
butcher's stand. To the west lie the Great Plains.
The Town Square continues to the east."
                     :e :town-square-east
                     :n :blacksmith
                     :s :butcher
                     :w :plains
                     }
  
  :town-square-east {:name "Town Square East"
                     :description
"You are at the east end of a bustling town square.
Merchants, laborers, and various citizens of the local
township are gathered here to trade and to catch up
on the latest gossip. To the north, you see a tavern,
and to the south is the residence of the town's jeweler
(with several rough, thirsty-looking mercenaries posted just
outside his doors). To the east, you can see imposing
gates protecting a menacing castle. The Town Square
continues to the west." 
                     :w :town-square-west
                     :e :castle-gates
                     :n :tavern
                     :s :jeweler-entrance
                     }

  :tavern {:name "Zedd's Tavern"
           :description
"You enter a dark, dank tavern. It is empty save for
several drunk patrons and the owner himself, Zedd.
The smell of flat ale permeates the tavern's atmosphere,
and the environs are barely visible under scant
torchlight." 
           :s :town-square-east
           :inventory #{"ale"}
          }

  :butcher {:name "Butcher"
           :description
"" 
           :n :town-square-west
          }

  :jeweler-entrance {:name "Entrance to Jeweler's Shop"
                     :description
"Before you stands the town jeweler's shop, one of the
best-kept houses in the township, featuring stone walls and
a heavy oak door. It is guarded by several shady characters,
all looking quite menacing and somewhat thirsty."
                     :n :town-square-east
                     :s :jeweler
                     :constraints {:s {:items ["ale"]
:allowed-text
"The grateful mercenaries drink and tell boring battle stories,
leaving you free to enter the jeweler's shop."
:disallowed-text
"The mercenaries will not allow you to pass."                                       
}}}

  :jeweler {:name "Jeweler's Shop"
            :description
"" 
            :n :jeweler-entrance
            :inventory #{"key"}
           }

  :castle-gates {:name "Castle Gates"
                 :description
"" 
                 :w :town-square-east
                 :e :great-hall
                 :constraints {:e {:items ["key"]
:allowed-text
"The castle gates are unlocked, and you pass through unhindered."
:disallowed-text
"The castle gates are locked."                                       
}}}

  
  :great-hall  {:name "Great Hall" :w :castle-gates :e :throne-room :n :master-bedroom :s :study}
  
  :master-bedroom {:name "Master Bedroom" :e :master-bathroom :s :great-hall}
  
  :study {:name "Study" :n :great-hall}
  
  :throne-room {:name "Throne Room" :w :great-hall}
  
  :master-bathroom {:name "Master Bathroom" :w :master-bedroom}
  
  :blacksmith {:name "Blacksmith" :s :town-square-west}
  
  :plains {:name "Great Plains" :e :town-square-west :n :forest :s :cave}
  
  :forest {:name "Forest" :s :plains}
  
  :cave {:name "Cave entrance" :n :plains :s :catacombs}
  
  :catacombs {:name "The Catacombs" :n :cave}}
 
 :items-list
 {
  "ale" {:name "Ale" :description "A mug of the town's flattest, stalest local beverage"}
  "key" {:name "Key" :description "A large key of the finest craftmanship"}
 }}
